html,
body,
pre,
code,
kbd,
samp {
  font-family: 'Press Start 2P';
}

* {
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

body.active {
  overflow: hidden;
}

a,
a:hover {
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3px;
}

.nes-container.with-title > .title.main-title {
  font-size: calc(3rem - 3px);
  margin-bottom: 0;
}

.progress-wrapper {
  position: relative;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#progress-value {
  position: absolute;
  top: 30%;
}

.d-none {
  display: none;
}

#games-list-title {
  text-align: center;
}

#games-list-title > i {
  margin-right: 1.5rem;
}

.games-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.nes-container.game-card-wrapper {
  width: 420px;
  padding: 0.5rem 1rem;
  margin: 1.5rem;
}

.game-card {
  display: flex;
  font-size: 12px;
}

.game-card > .game-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  flex-grow: 1;
  margin-left: 1.5rem;
}

.game-card .game-info .nes-btn {
  font-size: 0.8em;
}

.game-card > .game-info span {
  margin: 4px;
}

.game-card > .game-info button {
  width: 100%;
}

.game-card .game-image > img {
  display: block;
  width: 128px;
  height: 120px;
  border-radius: 15%;
  object-fit: cover;
}

.main-header {
  position: sticky;
  top: 0;
  background: white;
  z-index: 1;
  margin-bottom: 2em;
  transition: 0.5s;
}

.hamburger {
  display: none;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nes-container.main-header {
  padding: 1.5rem 0 0 0;
}

.main-nav .main-links > .nav-link,
.main-nav .second-links > .nav-link {
  margin: 0.5rem;
  font-size: 0.9em;
}

.main-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.second-links {
  display: none;
}

.dropdown-nav {
  position: relative;
}

.dropdown-nav.active .sub-nav {
  display: table;
}

.sub-nav {
  position: absolute;
  top: 3.2rem;
  left: 0;
  z-index: 2;
  width: 100%;
  min-width: 160px;
  background: white;
  border-color: black;
  border-style: solid;
  border-width: 4px;
  display: none;
}

.sticky .sub-nav {
  top: 2.2rem;
}

.sub-nav .main-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sub-nav .nav-link {
  font-size: 0.8em;
}

@media only screen and (min-width: 801px) {
  .nes-container.main-header.sticky {
    font-size: 0.5em;
  }
}

@media only screen and (max-width: 360px) {
  .nes-container.main-header.sticky {
    padding: 1.5rem 2rem 1rem 1.5rem;
  }

  .nes-container.main-header {
    padding: 1.5rem 2rem 0 1.5rem;
  }

  .nes-container.with-title > .title.main-title {
    font-size: calc(1.5rem - 3px) !important;
  }
}

@media only screen and (max-width: 800px) {
  .nes-container.with-title > .title.main-title {
    font-size: calc(2rem - 3px);
  }

  #welcome-text-paragraph {
    font-size: 0.5em;
    transition: 0.3s;
  }

  .sticky #welcome-text-paragraph {
    max-height: 0;
    opacity: 0;
    margin: 0;
  }

  .hamburger {
    position: absolute;
    top: 3px;
    right: 5px;
    display: block;
  }

  .hamburger.active {
    position: fixed;
    top: 9px;
    right: 12px;
    z-index: 2;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .main-nav {
    overflow-y: auto;
    display: none;
    position: fixed;
    bottom: -100%;
    left: 0;
    transition: 0.5s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    width: 100%;
    height: 100%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3em 1.5em;

    border-color: black;
    border-style: solid;
    border-width: 4px;
  }

  .main-nav.active {
    bottom: 0;
  }

  .main-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .second-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}

.alphabet-nav {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.alphabet-nav a {
  margin: 5px;
}

.scroll-btn {
  position: fixed;
  bottom: -60px;
  right: 2rem;
  box-shadow: 0 5px 20px rgb(0 0 0 / 60%);
  transition: all 0.3s ease;
}

.scroll-btn.active {
  bottom: 25px;
}

.scroll-btn > span {
  display: block;
  transform: rotateZ(90deg);
}

.rating {
  display: inline-flex;
}

.nes-container.footer {
  display: flex;
  flex-direction: column;
  font-size: 6px;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.nes-container.footer > .footer-links {
  margin: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nes-container.footer .nes-btn {
  margin: 4px 1em;
}

@media only screen and (max-width: 800px) {
  #games-list-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1em;
  }
  #games-list-title > i {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .nes-container.game-card-wrapper {
    width: 320px;
  }
  .game-card {
    flex-direction: column;
    align-items: center;
  }

  .game-card > .game-info {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
  }

  .game-card .nes-btn {
    margin-left: 0;
  }
}
